
.header{
    width: 100%;
    border: 1px solid blue;
    border-radius:10px;
    background-color: 1px solid #fff;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:0 auto;
    font-size:30px;

     .my-header{
         margin:5px;
         text-align: center;
         
     }

         .myInput {
            border-radius: 5px;
             width: 90%;
             height: 40px;
         }
             .todoBtn,
             .doneBtn,
             .remove,
             .chengeColorBtn
              {
             border-radius: 5px;
             border: 1px solid blue;
             height: 20px;
             width: 5%;
             margin:5px;
         }
        .buttons{
            margin: 10px;
        }
        .BtnRemove,
        .BtnDone{
             border-radius: 5px;
             border: 1px solid blue;
             width:50px;
             height: 20px;
        }
        .BtnRemove{
            margin-right: 5px;
        }
    
     li{
         display:flex;
         justify-content:space-between;
         margin:5px;
            
     }
    }


    

  